<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>Learn more about our company, our mission, and our values.</p>
        <p><a routerLink="/about">Read more</a></p>
      </div>
      <div class="footer-section">
        <h4>Customer Service</h4>
        <ul>
          <li><a routerLink="/contact">Contact Us</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/returns">Returns</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank" class="pi pi-facebook"></a>
          <a href="https://www.twitter.com" target="_blank" class="pi pi-twitter"></a>
          <a href="https://www.instagram.com" target="_blank" class="pi pi-instagram"></a>
        </div>
      </div>
    </div>
  </footer>
  