<div class="cart-container">
  <h2>Your Cart</h2>
  <div class="cart-content">
    <!-- Cart Items List -->
    <div class="cart-items">
      <div *ngIf="cartItems.length === 0">Your cart is empty.</div>
      <div class="cart-item" *ngFor="let item of cartItems; let i = index">
        <div class="cart-item-details">
          <input type="checkbox" (change)="selectItem(item)" />
          <img
            [src]="baseImgUrl + item.PID.base_view"
            alt="{{ item.PID.name }}"
            class="cart-item-image"
          />
          <div class="cart-item-info">
            <h4>{{ item.PID.name }}</h4>
            <p>{{ item.PID.model }}</p>
            <p>{{ item.PID.price | currency }}</p>
          </div>
          <div class="cart-item-delete">
            <button
              (click)="deleteItem(i)"
              class="p-button p-button-danger p-button-text"
            >
              <i class="pi pi-trash"></i>
            </button>
          </div>
        </div>

        <div class="cart-item-actions">
          <button (click)="decrementQuantity(item)">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="incrementQuantity(item)">+</button>
        </div>
      </div>
    </div>

    <!-- Bill Calculation -->
    <div class="bill-summary">
      <h3>Bill Summary</h3>
      <p *ngIf="selectedItems.length === 0">No items selected.</p>

      <div *ngIf="selectedItems.length > 0">
        <ul>
          <li *ngFor="let item of selectedItems">
            {{ item.PID.name }} (x{{ item.quantity }}) -
            {{ item.PID.price * item.quantity }}
          </li>
        </ul>
        <h4>Total: {{ totalPrice }}</h4>
        <button class="checkout-btn" (click)="goToSummary()">
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>
</div>
