@if(superUser){
<div class="container">
  <button class="product-button" routerLink="/status">
    Recommendaed Product
  </button>
</div>

<div class="container">
  <button class="product-button" routerLink="/addProduct">
    Add New Product
  </button>
</div>

<div class="container">
  <h1>Manage Categories and Brands</h1>
  <div class="flex-container">
    <!-- Add Category Section -->
    <div class="category-section">
      <h2>Add Category</h2>
      <form>
        <input
          type="text"
          placeholder="Enter category name"
          required
          [(ngModel)]="newCategory"
          name="category"
        />
        @if(categoryID==0){
        <button (click)="onAddCategory()">Add Category</button>
        }@else{
        <button (click)="onUpdateCategory()">Update Category</button>
        }
      </form>

      <h3>Existing Categories</h3>
      <ul>
        <li *ngFor="let cat of category">
          {{ cat.name }}
          <button class="icons" (click)="categoryEdit(cat.id, cat.name)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="icons" (click)="categoryDelete(cat.id)">
            <i class="pi pi-trash"></i>
          </button>
        </li>
      </ul>
    </div>

    <!-- Add Brand Section -->
    <div class="brand-section">
      <h2>Add Brand under {{ selectedCategory }}</h2>
      <form>
        <label for="CategoryID">Category</label>
        <p-dropdown
          [options]="category"
          optionLabel="name"
          placeholder="Select a Category"
          (onChange)="onCategoryChange($event)"
        />

        <input
          type="text"
          placeholder="Enter brand name"
          required
          [(ngModel)]="newBrand"
          name="brand"
        />

        @if(brandID==0){
        <button (click)="onAddBrand()">Add Brand</button>
        }@else{
        <button (click)="onUpdateBrand()">Update Brand</button>
        }
      </form>

      <h3>Brands in {{ selectedCategory }}</h3>
      <ul>
        <li *ngFor="let brand of brands">
          {{ brand.name }}
          <button class="icons" (click)="brandEdit(brand.id, brand.name)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="icons" (click)="brandDelete(brand.id)">
            <i class="pi pi-trash"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
}
