<div class="navbar">
  <button
    class="nav-button"
    [class.active]="activeTab === 'trending'"
    (click)="setActiveTab('trending')"
  >
    Trending Products
  </button>
  <button
    class="nav-button"
    [class.active]="activeTab === 'stockout'"
    (click)="setActiveTab('stockout')"
  >
    Stock-Out Products
  </button>
</div>

<div class="products-container">
  <!-- Trending Products Section -->
  <div *ngIf="activeTab === 'trending'" class="section trending">
    <h2>Trending Products</h2>
    <div class="products-grid">
      <div class="product-card" *ngFor="let product of trendingProducts">
        <div (click)="goToProduct(product.id)">
          <img [src]="product.base_view" alt="{{ product.name }}" />
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <div class="price">Price: ${{ product.price }}</div>
          <div class="stock" *ngIf="product.stock_items > 0">
            In Stock: {{ product.stock_items }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Stock-Out Products Section -->
  <div *ngIf="activeTab === 'stockout'" class="section stock-out">
    <form #f="ngForm" (ngSubmit)="status(f)" class="my-login-validation">
      <div class="form-group d-flex align-items-center">
        <label for="stock" class="mr-2">Stock Size</label>
        <input
          ngModel
          name="stock"
          #name="ngModel"
          type="number"
          class="form-control mr-2"
          id="stock"
          autofocus
          style="max-width: 200px"
        />
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </form>

    <h2>Stock-Out Products</h2>
    <div class="products-grid">
      <div class="product-card" *ngFor="let product of stockOutProducts">
        <div (click)="goToEdit(product.id)">
          <img [src]="product.base_view" alt="{{ product.name }}" />
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          @if(product.stock_items == 0){
          <p class="out-of-stock">Out of Stock</p>
          }@else{
          <p>In Stock: {{ product.stock_items }}</p>
          }
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
